server:
  port: 9090
security:
  oauth2:
    resource:
      user-info-uri: http://localhost:8901/user

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cloud:
      stream:
        bindings:
          organizationChannel:
              destination:  orgChangeTopic
              content-type: application/json